matplotlib==3.0.2
Flask==1.0.2
numpy==1.15.4
imbalanced_learn==0.4.3
pandas==0.23.4
Werkzeug==0.14.1
seaborn==0.9.0
Flask_Bootstrap==3.3.7.1
Click==7.0
requests==2.21.0
Flask_RESTful==0.3.7
imblearn==0.0
scikit_learn==0.21.1
