{% extends 'bootstrap/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tableau de bord</title>

  <!-- Custom fonts for this template-->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
  <style>
    .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

    .form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem; }

.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=text]:focus:not([readonly]) + label {
  color: #4f4f4f; }

.form-gradient textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fd9267;
    box-shadow: 0 1px 0 0 #fd9267; }


.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=text]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    box-shadow: 0 1px 0 0 #00C851;
    color: #fff; }

.form-dark textarea.md-textarea  {
    color: #fff;
}

.form-dark .form-control, .form-dark .form-control:focus {
    color: #fff;
}
  p.body{
    color: black;

  }
  .about{
    color: black;
  }


  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->


      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a href="{{ url_for('blog.index') }}" class="nav-link">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Accueil</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('profile.post') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Profil</span></a>
      </li>
      <li class="nav-item active">
        <a href="{{ url_for('pred.a') }}" class="nav-link">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>IA Solution</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Se déconnecter</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider">


      <!-- Nav Item - Pages Collapse Menu -->

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">



          <ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            alert({{ids['id']}})
            {% for id in ids %}
            <h1 class="h3 mb-0 text-gray-800">{{ id['id'] }}</h1>
            {% endfor %}



          </div>

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">N'hésitez pas à poster</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">Informatique<span class="float-right">Complete!</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Télécommunication
 <span class="float-right">Complete!</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Génie industriel<span class="float-right">Complete!</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Génie Mécanique <span class="float-right">Complete!</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Génie Electrique <span class="float-right">Complete!</span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div></br>
                  <h4 class="small font-weight-bold">Génie civil <span class="float-right">Complete!</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>

              <!-- Color System -->


          </div>
          <!-- Area Chart -->
          <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                <h6 class="m-0 font-weight-bold text-primary">Rang</h6>



                  <form method="post" action="{{url_for('blog.filtre')}}">
  Rang Min: <input type="text" id="min" name="min"></br>
  Rang Max: <input type="text" id="max" name="max""></br>



                <button  value="submit" class="favorite styled">Filtrer</button></form>

              </div>

            </div>

            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                <h6 class="m-0 font-weight-bold text-primary">Specialite</h6>


                  <form method="post" action="{{url_for('blog.specialite')}}">
                    <div class="form-group">
                        <label class="col-sm-12">Quel est la spécialité que vous visez ?</label>
                        <div class="col-sm-12">
                          <select class="form-control form-control-line" name="specialite" size="1">

                                  <option >
                                  <option>Informatique
                                  <option>Télécommunication
                                  <option>Génie industriel
                                  <option>Génie mécanique
                                  <option>Génie éléctrique
                                  <option>Génie civil
                                  <option>Autres


                          </SELECT>
                        </div>
                    </div>



                <button  value="submit" class="favorite styled">Filtrer</button></form>

              </div>

            </div>
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                <h6 class="m-0 font-weight-bold text-primary">Profession</h6>


                  <form method="post" action="{{url_for('blog.profession')}}">
                    <div class="form-group">
                        <label class="col-sm-12">Profession</label>
                        <div class="col-sm-12">
                          <select class="form-control form-control-line" name="profession" size="1">
                            <OPTION  value="1">élève ingénieur (1ème année )
                              <OPTION  value="2">élève ingénieur (2ème année )
                                <OPTION  value="3">élève ingénieur (3ème année )
                                  <OPTION  value="4">Ingénieur(e)
                                    <OPTION>autre
                                    </SELECT>
                        </div>
                    </div>



                <button  value="submit" class="favorite styled">Filtrer</button></form>

              </div>

            </div>


            <!-- Color System -->


        </div>
        </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Posts</h6>
                  <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                New post
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">POST</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <section class="form-gradient mb-5">

  <!--Form with header-->
  <div class="card">

    <!--Header-->
    <div class="header peach-gradient">

      <div class="row d-flex justify-content-center">
        <h3 class="white-text mb-0 py-5 font-weight-bold">Post</h3>
      </div>

    </div>
    <!--Header-->

    <div class="card-body mx-4">


  <form method="post" action="{{ url_for('blog.create') }}">


      <div class="md-form">
        <i class="fas fa-tag prefix grey-text"></i>
          <label for="form106">Title:</label>
          <div class="form-group">

              <div class="col-sm-12">
                <select class="form-control form-control-line" name="title" size="1">

                        <option >
                        <option>Informatique
                        <option>Télécommunication
                        <option>Génie industriel
                        <option>Génie mécanique
                        <option>Génie éléctrique
                        <option>Génie civil
                        <option>Autres


                </SELECT>
              </div>
          </div>


      </div>

      <div class="md-form">
        <i class="fas fa-pencil-alt prefix grey-text"></i>
        <label for="form107">Body</label>
        <textarea id="form107" name="body" class="md-textarea form-control" rows="5">{{ request.form['body'] }}</textarea>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          <input  class="btn btn-block btn-primary text-uppercase" type="submit" value="Save">
      </div>

    </form>
      <!--Grid row-->
      <div class="row d-flex align-items-center mb-3 mt-4">

        <!--Grid column-->
        <div class="col-md-12">
          <div class="text-center">

          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>

  </div>
  <!--/Form with header-->

</section>

                    </div>

                  </div>
                </div>
              </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    {% for post in posts %}
                      <article class="post">
                        <header>
                          <div>
                            <h1>{{ post['title'] }}</h1>

                          </div>

                        </header>
                        <p class="body">{{ post['body'] }}</p>
                        {% if g.user['id'] == post['author_id'] %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#example">
    EDIT
    </button>

    <!-- Modal -->
    <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('blog.update', id=post['id']) }}">


            <div class="md-form">
              <i class="fas fa-tag prefix grey-text"></i>
                <label for="form106">Title:</label>
              <input type="text" id="form106" class="form-control"name="title" value="{{ request.form['title'] or post['title'] }}" required>

            </div>

            <div class="md-form">
              <i class="fas fa-pencil-alt prefix grey-text"></i>
              <label for="form107">Body</label>
              <textarea id="form107" name="body" class="md-textarea form-control" rows="5">{{ request.form['body'] or post['body'] }}</textarea>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <input  class="btn btn-block btn-primary text-uppercase" type="submit" value="Save">
            </div>

          </form>
      </div>

    </div>
    </div>
    </div>



                        {% endif %}






                      {% if not loop.last %}
                        <hr>
                      {% endif %}
                    {% endfor %}
                    <!-- Modal -->



                </div>

            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">


              </div>
            </div>
          </div>

          <!-- Content Row -->

        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->

      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->

  <!-- Bootstrap core JavaScript-->

  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src=""../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../static/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>




</body>

</html>
{%endblock%}
