<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Tableau de bord</title>

  <!-- Custom fonts for this template-->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
  <style>
  .form-horizontal{
    color: black;
  }
  #aa{
    width: 950px;
    length: 800px
  }
  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a href="{{ url_for('blog.index') }}" class="nav-link">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Accueil</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('profile.post') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Profil</span></a>
      </li>
      <li class="nav-item active">
        <a href="{{ url_for('pred.a') }}" class="nav-link">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>IA Solution</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Se déconnecter</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">




      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>


          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->


          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container">
          <div class="row my-2">
              <div class="col-lg-8 order-lg-2" >
                  <div class="col-lg-8 order-lg-2" >
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="{{url_for('profile.index')}}" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('profile.post')}}" class="nav-link active"  >Post</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('profile.update')}}" class="nav-link active">Edit</a>
                    </li>
                </ul>

                <div class="tab-content py-4" id="aa">

              <div class="card">
                  <div class="card-block">
                    <h3>Après avoir rempli ce formulaire vous pouvez consulter la solution intelligente.</h3>
                      <form class="form-horizontal form-material" method="post">
                        <div class="form-group">

                            <label class="col-sm-12">Profession</label>
                            <div class="col-sm-12">
                              <select class="form-control form-control-line" name="profession" size="1" required>

                                  <option value="1">Etudiant de cycle préparatoire</option>
                                <OPTION  value="1">élève ingénieur (1ème année )
                                  <OPTION  value="2">élève ingénieur (2ème année )
                                    <OPTION  value="3">élève ingénieur (3ème année )
                                      <OPTION  value="4">Ingénieur(e)
                                        <option value="1">autre
                                        </SELECT>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-12">Rang au concours</label>
                            <div class="col-sm-12">
                            <input class="form-control form-control-line"  type="text" name="rang" required>
                          </div>

                            </div>
                        </div>
                          <div class="form-group">
                              <label class="col-sm-12">institut préparatoire aux études d'ingénieurs</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="institut" size="1" required>
                                        <option value=""></option>
                                  <OPTION  value="14">Institut préparatoire aux études scientifiques et techniques(IPEST)
                                  <OPTION  value="1">Institut préparatoire aux études d'ingénieurs de Tunis(IPEIT)
                                  <OPTION  value="3">Institut préparatoire aux études d'ingénieurs de Elmanar(IPEIEM)
                                  <OPTION  value="0">Institut préparatoire aux études d'ingénieurs de Nabeul(IPEIN)
                                  <OPTION  value="2">Institut préparatoire aux études d'ingénieurs de Monastir(IPEIM)
                                    <OPTION  value="4">Institut préparatoire aux études d'ingénieurs de Sfax(IPEIS)
                                    <OPTION  value="11">Faculté des sciences de Tunis (FST)
                                    <OPTION  value="8">Institut préparatoire aux études d'ingénieurs de Bizerte(IPEIB)
                                    <OPTION  value="13">Institut préparatoire aux études d'ingénieurs de Kairaoun (IPEIK)
                                    <OPTION  value="7">Faculté des sciences de Monastir(FSM)
                                      <OPTION  value="5">École supérieure des sciences et de la technologie de Hammam Sousse (ESSTHS)
                                      <OPTION  value="10">Faculté des sciences de sfax(FSS)
                                        <OPTION  value="12">Institut Supérieur des Sciences Appliquées et de Technologie de Mahdia(ISSATMH)
                                        <OPTION  value="6">Institut Supérieur des Sciences Appliquées et de Technologie de Gabès(ISSAT Gabès)
                                        <OPTION  value="15">Institut Supérieur des études préparatoires en biologie et géologie la Soukra (ISSEP BG Soukra)
                                        <OPTION  value="9">Institut Préparatoire aux Etudes d'Ingénieurs de Gafsa (IPEI Gafsa)
                                        <OPTION  value="16">Concours spécifique

                                          <OPTION  value="17">AUTRE
                                </SELECT>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-12">Spécialité/Prépa</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="specialitePrepa" size="1"required>
                                    <option value=""></option>
                                  <OPTION value="2">Physique-Chimie
                                    <OPTION  value="1">Mathématiques-Physique
                                      <OPTION  value="3">Physique-Technique
                                        <OPTION  value="4">Biologie-géologie

                                </SELECT>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-12">baccalauréat</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="bac" size="1"required>
                                      <option value=""></option>
                                      <OPTION  value="2">Sciences expérimentales
                                      <OPTION  value="1">Mathématiques
                                      <OPTION  value="4">informatique
                                      <OPTION  value="3">technique

                                </SELECT>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-12">Mention du baccalauréat</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="mentionBac" size="1"required>
                                      <option value=""></option>
                                      <OPTION  value="1">Assez bien
                                      <OPTION  value="2">Bien
                                      <OPTION  value="3">très bien


                                </SELECT>
                              </div>
                          </div>

  <h3>Centre d'intèrets</h3>
                          <div class="form-group">
                              <label class="col-sm-12">Jeux collective ?</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="jeuxColl" size="1"required>
                                    <option value=""></option>
                                      <OPTION  value="1">Oui
                                      <OPTION  value="0">Non


                                </SELECT>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-12">Sport?</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="sport" size="1"required>
                                    <option value=""></option>
                                      <OPTION  value="1">Oui
                                      <OPTION  value="0">Non


                                </SELECT>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-12">Voyage ?</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="Voyage" size="1"required>
                                    <option value=""></option>
                                      <OPTION  value="1">Oui
                                      <OPTION  value="0">Non


                                </SELECT>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-12">VieAssociative?</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="VieAssociative" size="1"required>
                                    <option value=""></option>
                                      <OPTION  value="1">Oui
                                      <OPTION  value="0">Non


                                </SELECT>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-12">Technologie ?</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="Technologie" size="1"required>
                                    <option value=""></option>
                                      <OPTION  value="1">Oui
                                      <OPTION  value="0">Non


                                </SELECT>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-12">Jeux vidéo ?</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="PcSkills" size="1"required>
                                    <option value=""></option>
                                      <OPTION  value="1">Oui
                                      <OPTION  value="0">Non


                                </SELECT>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-12">Culture ?</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="culture" size="1"required>
                                    <option value=""></option>
                                      <OPTION  value="1">Oui
                                      <OPTION  value="0">Non


                                </SELECT>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-12">Arts ?</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="Arts" size="1"required>
                                    <option value=""></option>
                                      <OPTION  value="1">Oui
                                      <OPTION  value="0">Non


                                </SELECT>
                              </div>
                          </div>







                          <div class="form-group">
                              <label class="col-sm-12">Comment vous voyez-vous dans 5 ans  après avoir votre diplôme?</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="vision" size="1"required>
                                      <OPTION >
                                      <OPTION  value="1">Travailler dans une  entreprise/boite de développement en Tunisie
                                      <OPTION  value="2">Travailler à l'étranger
                                      <OPTION  value="3">Avoir votre propre projet


                                </SELECT>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-sm-12">Les conditions matérielles et financières disponibles</label>
                              <div class="col-sm-12">
                                <select class="form-control form-control-line" name="condition" size="1"required>
                                    <option value=""></option>
                                      <OPTION  value="1">Faible
                                      <OPTION  value="2">Moyenne
                                      <OPTION  value="3">Bonne



                                </SELECT>
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-sm-12">

                                  <input type="submit" class="btn btn-success" value="Update Information">
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- Column -->
        </div>
      </div>
    </div>
  </div>
      <!-- Row -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src=""../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../static/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>
